:root {
    --color-background-register: #accffe;
    --color-background-form: #fff;
    --color-fb: #1877f2;
    --color-gg: #e74236;
}

.login-container {
    background-color: var(--color-background-register);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
}
.content {
    padding: 30px !important;
    margin: 0 auto;
    background-color: var(--color-background-form);
    border-radius: 10px;
    .title {
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
        font-size: 20px;
    }

    .text {
        display: flex;
        justify-content: space-between;
    }
    .group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .login-with {
            display: flex;
            font-size: 30px;
            .faceBook {
                color: var(--color-fb);
                margin-left: 10px;
                cursor: pointer;
            }
            .google {
                color: var(--color-gg);
                cursor: pointer;
            }
        }
        .home {
            cursor: pointer;
            margin-top: 10px;
            &:hover {
                color: blue;
            }
        }
    }
}
