:root {
    --color-background-register: #accffe;
    --color-background-form: #fff;
}

.register-container {
    background-color: var(--color-background-register);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
}
.content {
    //padding: 60px 60px 0 60px;
    margin: 0 auto;
    background-color: var(--color-background-form);
    border-radius: 10px;
    position: relative;
    .title {
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
        font-size: 20px;
    }
    .form-content {
        max-width: 100%;
    }
    .image-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
    }
    .text {
        margin-bottom: 20px;
        cursor: pointer;
    }
    .home {
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        &:hover {
            color: blue;
        }
    }
}

@media screen and (max-width: 768px) {
    img {
        display: none;
    }
}
