@import '../../scss/reset';
@import '../../scss/media';

:root {
    --color-background-register: #accffe;
    --color-background-form: #fff;
}

.register-container {
    background-color: var(--color-background-register);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
}
.content {
    //margin: 0 auto;
    background-color: var(--color-background-form);
    border-radius: 10px;
    position: relative;
    .title-register {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    .form-content {
        max-width: 100%;
    }
    .image-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        @include xs {
            img {
                display: none;
            }
        }
        @include sm {
            img {
                display: none;
            }
        }
        @include lg {
            img {
                display: block;
            }
        }
    }
    .text {
        margin-bottom: 20px;
        b {
            cursor: pointer;
            &:hover {
                color: blue;
            }
        }
    }
    .home {
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-top: 10px;

        &:hover {
            color: blue;
        }
    }
}
