@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import '../../scss/reset';
@import '../../scss/media';

:root {
    --color-background-body: rgb(245 245 250);
    --color-background-row: rgb(255 255 255);
}
.order-history {
    background-color: var(--color-background-body);
    padding: 10px 0 30px 0;
    font-family: 'Roboto';
}

.history-content {
    .title-history {
        @include xs {
            padding-left: 20px;
        }
        @include sm {
            padding-left: 20px;
        }
        text-align: start;
        font-weight: 500;
        padding: 20px 0;
        font-size: 20px;
        text-transform: uppercase;
    }
    .history-row {
        padding: 10px 20px;
        background-color: var(--color-background-row);
        .action-order {
            cursor: pointer;
            &:hover {
                color: blue;
            }
        }
    }
}
