@import '../../scss/reset';
@import '../../scss/media';

.theloai {
    //background-color: rgb(245 245 250);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
}
.default {
    background-color: rgb(245 245 250);
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type='checkbox'] {
    transform: scale(1.5);
    height: fit-content;
}
.slick-dots li button {
    background-color: #ccc !important;
}
.slick-dots li.slick-active button {
    background-color: blue !important;
}



.homepage-left {
    background-color: rgb(255 255 255);
    height: fit-content;
  
    .category-group {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .show {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        p {
            margin-right: 10px;
            color: rgb(13, 92, 182);
        }
    }
    .price {
        display: block;
        @include sm {
            display: block;
        }
        @include md {
            display: block;
        }
        @include lg {
            display: block;
        }
    }
    .ant-rate-text {
        @include xs {
            display: none;
        }
        @include sm {
            display: none;
        }
        @include xl {
            display: inline-block;
        }
    }
}

