@import '../../scss/reset';
@import '../../scss/media';
:root {
    --color-background-body: #accffe;
    --color-background-form: #fff;
}

.forgot {
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .forgot-content {
    }
}
