
@import '../../scss/media.scss';

.wrapper {
    
    cursor: pointer;
    display: block;

    .thumbnail {
        display: flex;
        justify-content: center;
        img {
           width: 100%;
           height: 200px;
           object-fit: contain;
        }
    }
    .text-cr {
        height: 57px;
        padding: 10px 20px 0px 20px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}