.bg-custom {
    background-image: url('../../../assets/bg.jpg');
    background-position: center; /* Position image at the bottom-right corner */
    background-repeat: no-repeat; /* Ensure the image does not repeat */
    background-size: cover; /* Optional: cover the entire element */
}
