@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import '../../scss/reset';
@import '../../scss/media';
:root {
    --color-background-body: rgb(245 245 250);
    --color-background-row: rgb(255 255 255);
}
.checkout {
    background-color: var(--color-background-body);
    padding: 10px 0 30px 0;
    font-family: 'Roboto';
}
.checkout-main {
    .title-checkout {
        @include xs {
            padding-left: 20px;
        }
        @include sm {
            padding-left: 20px;
        }
        text-align: start;
        font-weight: 500;
        padding: 20px 0;
        font-size: 20px;
        text-transform: uppercase;
    }
    .address {
        background-color: var(--color-background-row);
        padding: 20px;

        .address-text {
            width: 80%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .row-header {
        margin-top: 10px;
        padding: 20px;
        background-color: var(--color-background-row);
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;
        font-weight: 500;
        .text-product {
            width: 55%;
        }
        .text-price {
            text-align: center;
            width: 15%;
            @include xs {
                display: none;
            }
        }
        .text-count {
            text-align: center;
            width: 15%;
            @include xs {
                display: none;
            }
            @include sm {
                display: block;
            }
        }
        .text-count-res {
            @include xs {
                width: 15%;
                display: block;
                text-align: center;
            }
            @include sm {
                display: none;
            }
        }
        .text-total {
            @include xs {
                display: none;
            }
            @include sm {
                display: none;
            }
            @include md {
                display: block;
            }
            text-align: center;
            width: 15%;
        }
    }
    .list-product {
        .parent {
            padding: 0 20px;
            background-color: var(--color-background-row);
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            @include xs {
                position: relative;
            }
            .group {
                width: 55%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @include xs {
                    width: 80%;
                }
                .thumbnail {
                    margin-right: 10px;
                }
                .name {
                    max-width: 70%;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .price {
                @include xs {
                    position: absolute;
                    left: 100px;
                    bottom: 30px;
                }
                @include sm {
                    text-align: center;
                    width: 15%;
                }
            }
            .quantity {
                text-align: center;
                width: 15%;
            }
            .total-price {
                @include xs {
                    display: none;
                }
                @include sm {
                    display: none;
                }
                @include md {
                    display: block;
                    text-align: center;
                    width: 15%;
                }
            }
        }
    }
    .delivery-totalPrice {
        background-color: var(--color-background-row);

        @include xs {
            padding: 20px;
        }
        @include sm {
            display: block;
            padding: 20px;
        }
        @include lg {
            display: flex;
            align-items: center;
            padding: 0px 20px 20px 20px;
            justify-content: space-between;
        }
        .group {
            margin-bottom: 40px;
            .delivery {
                @include xs {
                    display: none;
                }

                @include sm {
                    display: block;
                }
            }
            .delivery-res {
                @include xs {
                    display: block;
                    margin-bottom: 20px;
                }
                @include sm {
                    display: none;
                }
            }
            .payment-res {
                @include xs {
                    display: block;
                }
                @include sm {
                    display: none;
                }
            }
            .payment {
                @include xs {
                    display: none;
                }
                @include sm {
                    display: block;
                }
            }
        }
        .total-price {
            @include sm {
            }
            @include lg {
                text-align: end;
            }
            .tienhang {
                @include xs {
                    width: 250px;
                    display: flex;
                    justify-content: space-between;
                }
                @include sm {
                    width: 250px;
                    display: flex;
                    justify-content: space-between;
                }
                @include lg {
                    width: 250px;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .phivanchuyen {
                @include xs {
                    width: 250px;
                    display: flex;
                    justify-content: space-between;
                }
                @include sm {
                    width: 250px;
                    display: flex;
                    justify-content: space-between;
                }
                @include lg {
                    width: 250px;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .tongthanhtoan {
                @include xs {
                    width: 250px;
                    display: flex;
                    justify-content: space-between;
                }
                @include sm {
                    width: 250px;
                    display: flex;
                    justify-content: space-between;
                }
                @include lg {
                    width: 250px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .btn-order {
            background-color: #ee4d2d;
            color: white;
            padding: 15px 15px;
            display: inline-block;
            font-size: 16px;
            border-radius: 3px;
            cursor: pointer;
            @include xs {
                width: 100%;
            }
            @include sm {
                width: 100%;
            }
        }
    }
}
