@import '../../scss/media';
@import '../../scss/reset';

.container {
    max-width: 1200px !important;
    margin: 0 auto;
}
.header-main {
    background-color: #ffffff;
    @include xs {
        position: sticky;
        top: 0;
        z-index: 999;
    }
    @include sm {
        position: sticky;
        top: 0;
        z-index: 999;
    }
    .container {
        @include xs {
            padding: 0 10px;
        }
        .header-content {
            display: flex;
            align-items: center;
            padding: 10px 0 10px 0;

            .header-left {
                @include xs {
                    width: 70%;
                }
                @include sm {
                    width: 70%;
                    margin-left: 20px;
                }
                @include lg {
                    margin-left: 0;
                }
                .search-header {
                    display: flex;
                    align-items: center;
                    .icon-header {
                        color: orange;
                        cursor: pointer;
                        @include xs {
                            font-size: 30px;
                            margin-right: 7px;
                        }
                        @include sm {
                            margin-right: 7px;
                            font-size: 40px;
                        }
                        @include md {
                            margin-right: 7px;
                            font-size: 50px;
                        }
                    }
                    .group {
                        display: flex;
                        align-items: center;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border: 1px solid #ccc;

                        @include xs {
                            padding: 3px;
                            width: 100%;
                            border-radius: 10px;
                        }
                        @include sm {
                            //6
                            padding: 8px;
                            width: 70%;
                        }
                        @include md {
                            padding: 10px;
                            width: 70%;
                        }
                        @include lg {
                            padding: 10px;
                            width: 78%;
                        }
                        .icon-search {
                            @include xs {
                                margin: 5px;
                            }
                            @include sm {
                                margin-right: 5px;
                            }
                        }
                        input {
                            width: 100%;
                        }
                    }
                    .button {
                        border: 1px solid #ccc;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        cursor: pointer;
                        @include xs {
                            display: none;
                        }
                        @include sm {
                            color: gray;
                            padding: 8px;
                        }
                        @include md {
                            color: gray;
                            padding: 10px;
                        }
                        &:hover {
                            background-color: #82ccdd;
                        }
                    }
                }
            }

            .header-right {
                @include xs {
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                @include sm {
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                @include lg {
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .basket {
                    color: grey;
                    position: relative;
                    margin-top: 4px;
                    cursor: pointer;
                    @include xs {
                        font-size: 18px;
                        width: 50%;
                        text-align: center;
                    }
                    @include sm {
                        font-size: 18px;
                        width: 30%;
                    }
                    @include lg {
                        font-size: 20px;
                        width: 10%;
                    }
                    .basket-sm {
                        @include xs {
                            display: block;
                        }
                        @include sm {
                            display: block;
                        }
                        @include xl {
                            display: none;
                        }
                    }
                    .badge {
                        @include xs {
                            position: absolute;
                            bottom: 17px;
                            left: 60%;
                        }
                        @include sm {
                            position: absolute;
                            bottom: 17px;
                            left: 15px;
                        }
                        @include md {
                            position: absolute;
                            bottom: 17px;
                            left: 15px;
                        }
                        @include lg {
                            position: absolute;
                            bottom: 20px;
                            left: 15px;
                        }
                    }
                }

                .home {
                    @include xs {
                        display: none;
                    }
                    @include sm {
                        display: none;
                    }
                    @include lg {
                        display: flex;
                        align-items: center;
                        padding: 7px;
                        border-radius: 5px;
                        font-size: 18px;
                        color: grey;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: #ccc;
                    }
                }
                .account {
                    padding: 5px;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    &:hover {
                        cursor: pointer;
                        background-color: #ccc;
                    }
                    .username {
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        color: grey;
                        .user {
                            @include xs {
                                display: none;
                            }
                            @include sm {
                                max-width: 80px;
                            }
                            @include md {
                                max-width: 100px;
                            }
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-family: 'Times New Roman', Times, serif;
                        }
                    }
                    .icon-acount {
                        font-size: 18px;
                        color: gray;
                    }
                    .name {
                        @include xs {
                            display: none;
                        }
                        color: grey;
                        font-family: 'Times New Roman', Times, serif;
                    }
                }
            }
        }
    }
}
