@import '../../scss/media';
@import '../../scss/reset';
@import '../../scss/flex';
@import '../../scss/grid';

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header-main {
    background-color: #ffffff;
    .container {
        .header-content {
            display: flex;
            align-items: center;
            padding: 10px;
            //justify-content: space-between;
            .header-left {
                padding: 10px;
                @include xs {
                    width: 100%;
                }
                .search-header {
                    display: flex;
                    align-items: center;
                    .icon-header {
                        margin-right: 7px;
                        color: orange;
                        cursor: pointer;
                        @include xs {
                            font-size: 30px;
                        }
                    }
                    .group {
                        display: flex;
                        align-items: center;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border: 1px solid #ccc;
                        @include xs {
                            padding: 3px;
                            width: 100%;
                            border-radius: 10px;
                        }
                        .icon-search {
                            @include xs {
                                margin: 5px;
                            }
                        }
                        input {
                            width: 100%;
                        }
                    }
                    button {
                        border: 1px solid #ccc;
                        @include xs {
                            display: none;
                        }
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        &:hover {
                            background-color: rgb(102 162 240);
                            cursor: pointer;
                        }
                    }
                }
            }

            .header-right {
                display: flex;
                align-items: center;
                justify-content: center;
                @include xs {
                    width: 30%;
                }
                .basket {
                    color: grey;
                    position: relative;

                    @include xs {
                        font-size: 16px;
                        width: 50%;
                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .badge {
                        position: absolute;
                        transform: translate(-20%, -80%);
                    }
                }

                .home {
                    @include xs {
                        display: none;
                    }
                    display: flex;
                    align-items: center;
                    margin-right: 40px;
                    padding: 10px;
                    border-radius: 10px;
                    font-size: 18px;
                    color: grey;
                    p {
                        margin-left: 5px;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: #ccc;
                    }
                }
                .account {
                    // padding: 10px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    @include xs {
                        //width: 60%;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: #ccc;
                    }
                    .username {
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        color: grey;
                        .user {
                            @include xs {
                                display: none;
                            }
                            white-space: nowrap;
                            max-width: 100px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-family: 'Times New Roman', Times, serif;
                        }
                    }
                    .icon-acount {
                        font-size: 16px;
                        color: gray;
                    }
                    .name {
                        // display: flex;
                        // align-items: center;
                        @include xs {
                            display: none;
                        }
                        color: grey;
                        font-family: 'Times New Roman', Times, serif;
                    }
                }
            }
        }
    }
}
