@import '../../scss/reset';
@import '../../scss/media';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.page-search {
    background-color: rgb(245 245 250);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding-bottom: 30px;
}

.home-list {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(245 245 250);
    margin-top: 10px;
    gap: calc(4% / 3);
    .column {
        @include xs {
            width: 49.25%;
            margin-bottom: 5px;
        }
        @include sm {
            width: 24%;
            margin-bottom: 8px;
        }
        @include md {
            width: 24%;
            margin-bottom: 12px;
        }
        @include lg {
            width: 24%;
            margin-bottom: 13px;
        }
        @include xl {
            width: 24%;
            margin-bottom: 13px;
        }

        .wrapper {
            @include xs {
                //padding-bottom: 5%; // padding-bottom: theo ti le % voi width = height
                width: 100%;
            }
            @include sm {
                height: 260px;
                width: 100%;
            }
            @include md {
                height: 280px;
                max-width: 100%;
            }
            @include lg {
                height: 300px;
                width: 100%;
            }
            @include xl {
                height: 310px;
                width: 100%;
            }

            background-color: rgb(255 255 255);
            position: relative;
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 5px 2px rgba($color: #333, $alpha: 0.3);
                transition: 0.8s;
                transform: translateY(-1px);
            }
            .thumbnail {
                display: flex;
                justify-content: center;
                img {
                    @include xs {
                        display: block;
                        max-width: 100%;
                        max-height: 200px;
                    }
                    @include sm {
                        display: block;
                        max-width: 100%;
                        max-height: 150px;
                    }
                    @include md {
                        max-width: 100%;
                        max-height: 170px;
                    }
                    @include lg {
                        max-width: 100%;
                        max-height: 190px;
                    }
                    @include xl {
                        max-width: 100%;
                        max-height: 200px;
                    }
                }
            }

            .text-search {
                padding: 10px 20px 0px 20px;
                @include xs {
                    height: 53px; //set width cho 1 dong = 2 dong text
                }
                .t-s {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .group-child {
                @include xs {
                    position: relative;
                    padding: 5px 20px;
                }
                @include sm {
                    position: absolute;
                    bottom: 10px;
                    left: 20px;
                }
                .price {
                    @include xs {
                        margin-bottom: 5px;
                    }
                    @include sm {
                        margin-bottom: 3px;
                    }
                }
                .rating {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    .rate {
                        @include xs {
                            font-size: 12px;
                        }
                        @include md {
                            display: none;
                        }
                    }
                    .responsive-star {
                        @include xs {
                            color: #f1c40f;
                            font-size: 13px;
                            margin-right: 10px;
                        }
                        @include sm {
                            color: #f1c40f;
                            font-size: 13px;
                            margin-right: 10px;
                        }
                        @include md {
                            display: none;
                        }
                    }
                    .star {
                        color: '#ffce3d';
                        @include xs {
                            display: none;
                        }
                        @include sm {
                            display: none;
                        }
                        @include md {
                            display: block;
                            font-size: 8px;
                            margin-right: 10px;
                        }
                        @include lg {
                            display: block;
                            font-size: 9px;
                            margin-right: 10px;
                        }
                        @include xl {
                            display: block;
                            font-size: 10px;
                            margin-right: 10px;
                        }
                    }
                    .sold {
                        @include sm {
                            font-size: 13px;
                        }
                        @include md {
                            font-size: 12px;
                        }
                        @include lg {
                            font-size: 13px;
                        }
                        @include xl {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
