@import '../../scss/reset';
@import '../../scss/media';
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    background-color: rgb(255 255 255);
    padding-top: 30px;
}
.footer-main {
    display: flex;

    padding: 20px;
    line-height: 2;
    justify-content: space-between;
    @include xs {
        flex-wrap: wrap;
    }
    @include sm {
        flex-wrap: wrap;
    }
    @include lg {
        gap: 20px;
        flex-wrap: nowrap;
    }

    p {
        &:hover {
            color: #e67e22;
            cursor: pointer;
        }
    }
    .about-us {
        @include xs {
            width: 40%;
            margin-bottom: 40px;
        }
        @include sm {
            width: 40%;
            margin-bottom: 40px;
        }
        @include lg {
            width: 25%;
        }
    }
    .account {
        @include xs {
            width: 40%;
        }
        @include sm {
            width: 40%;
        }
        @include lg {
            width: 25%;
        }
    }
    .support {
        @include xs {
            width: 40%;
        }
        @include sm {
            width: 40%;
        }
        @include lg {
            width: 25%;
        }
    }
    .contact {
        @include xs {
            width: 40%;
        }
        @include sm {
            width: 40%;
        }
        @include lg {
            width: 25%;
        }
    }
}
