@import 'react-image-gallery/styles/scss/image-gallery.scss';
@import '../../scss/reset';
@import '../../scss/media';
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.book-page {
    background-color: rgb(245 245 250);
}
.ant-breadcrumb a:hover {
    color: rgba(0, 0, 0, 0.88);
    background: none;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
    vertical-align: middle;
    width: 100%;
    max-height: 92px;
}
.image-gallery-slide .image-gallery-image {
    @include xs {
        height: 200px;
    }
    @include sm {
        height: 250px;
    }
    @include md {
        height: 300px;
    }
    @include lg {
        height: 100%;
    }
}

.view-detail-book {
    .original-image,
    .thumbnail-image {
        cursor: pointer;
    }
    .img-thumnail {
        @include sm {
            display: none;
        }
        @include xs {
            display: none;
        }
        @include lg {
            display: block;
        }
    }
    .thumnail-responsive {
        @include sm {
            display: block;
        }
        @include xs {
            display: block;
        }

        @include lg {
            display: none;
        }
        .page-total {
            position: absolute;
            right: 20px;
            bottom: 10px;
            width: fit-content;
            border-radius: 15px;
            background-color: #ecf0f1;
            padding: 2px 13px;
        }
    }
    .title {
        font-weight: 400;
        line-height: 1.5;
        @include sm {
            font-size: 18px;
        }
        @include md {
            font-size: 20px;
        }
        @include lg {
            font-size: 24px;
        }
    }

    .rating {
        display: flex;
        margin: 10px 0;
    }
    .author {
        padding: 20px 0;
        width: fit-content;
        cursor: pointer;

        &:hover {
            span {
                color: blue;
            }
        }
    }
    .price {
        border-radius: 4px;
        background-color: rgb(245 245 250);
        padding: 10px;
        margin-bottom: 10px;

        .currency {
            font-weight: 500;
            color: #ee4d2d;
            @include sm {
                font-size: 18px;
            }
            @include md {
                font-size: 20px;
            }
            @include lg {
                font-size: 25px;
            }
        }
    }

    .delivery {
        padding: 10px 0;
    }

    .quantity {
        padding: 10px 0;
        align-items: center;
        @include xs {
            display: none;
        }
        @include sm {
            display: none;
        }
        @include lg {
            display: flex;
        }
        .rightt {
            display: flex;
            input {
                width: 40px;
                height: 32px;
                border-left: 0;
                border-right: 0;
                font-size: 16px;
                font-weight: 400;
                box-sizing: border-box;
                text-align: center;
                cursor: text;
                border-radius: 0;
                border: 1px solid rgba(0, 0, 0, 0.09);
                outline: none;
            }

            button {
                cursor: pointer;
                font-size: 0.875rem;
                font-weight: 300;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(0, 0, 0, 0.09);
                width: 32px;
                height: 32px;
            }
        }
    }

    .leftt {
        color: #757575;
        width: 110px;
        text-transform: capitalize;
        display: inline-block;
    }

    .buy {
        gap: 20px;
        padding: 20px 0;
        @include xs {
            display: none;
        }
        @include sm {
            display: none;
        }
        @include lg {
            display: flex;
        }
        button {
            overflow: visible;
            outline: 0;
            background: #ff57221a;
            color: #ee4d2d;
            border: 1px solid #ee4d2d;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
            cursor: pointer;
            border-radius: 3px;

            font-size: 16px;
            height: 48px;
            padding: 0 20px;

            &.now {
                color: #fff;
                background: #ee4d2d;
            }
        }

        .cart {
            &:hover {
                background: #ffc5b22e;
            }

            span {
                padding-left: 5px;
            }
        }

        .now {
            &:hover {
                background: #f05d40;
            }
        }
    }
}
//======== responsive cart //==========

.responsive-cart {
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    @include xs {
        display: flex;
        justify-content: space-between;
    }
    @include sm {
        display: flex;
        justify-content: space-between;
    }
    @include lg {
        display: none;
    }

    .quantity-res {
        display: flex;
        border: 1px solid #bdc3c7;
        padding: 5px 10px;
        align-items: center;
        justify-content: space-between;
        @include xs {
            width: 25%;
        }
        @include sm {
            width: 20%;
        }

        .count {
        }
        input {
            text-align: center;
            width: 100%;
        }
    }
    .add-item-res {
        display: flex;
        justify-content: center;
        background-color: #fbebed;
        @include sm {
            width: 60%;
        }
        @include xs {
            width: 45%;
        }
        &:hover {
            background-color: #f1c40f;
            color: white;
        }
        .cart-res {
            display: flex;
            align-items: center;
        }
    }
    .now-res {
        @include sm {
            width: 20%;
            padding: 10px 0;
        }
        @include xs {
            width: 30%;
            padding: 8px 0;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e74c3c;
        color: white;

        &:hover {
            background-color: #d63031;
        }
    }
}
.detail {
    margin-top: 20px;
    padding: 20px 20px 0 20px;
    background: rgb(255 255 255);
    .description {
        font-size: 20px;
        padding: 20px;
        background-color: rgb(245 245 250);
    }
}

.modal-gallery {
    .activeImgae {
        border: 3px solid #e67e22;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
    }

    .img-normal {
        cursor: pointer;
    }
}
