.flex {
    display: flex;
    flex-wrap: wrap;
}

.a-center {
    align-items: center;
}

.j-between {
    justify-content: space-between;
}
.j-end{
    justify-content: flex-end;
}
.j-center{
    justify-content: center;
}
.f-column{
    flex-direction: column;
}