@import 'media';
$gutter: 10px;
$cols: 24;

.test {
    display: flex;
    flex-wrap: wrap;
    //margin: 0px -$gutter / 2;
    @include xs {
        // @for $i from 1 through $cols {
        //     .col-xs-#{$i} {
        //         width: calc(100% / $cols) * $i;
        //         //padding: $gutter / 2;
        //     }
        // }
        .col-xs-12 {
            display: flex;
            width: 100%;
        }
    }
    @include sm {
        @for $i from 1 through $cols {
            .col-sm-#{$i} {
                width: calc(100% / $cols) * $i;
                //padding: $gutter / 2;
            }
        }
    }
    @include md {
        @for $i from 1 through $cols {
            .col-md-#{$i} {
                width: calc(100% / $cols) * $i;
                //padding: $gutter / 2;
            }
        }
    }
    @include lg {
        @for $i from 1 through $cols {
            .col-lg-#{$i} {
                width: calc(100% / $cols) * $i;
                //padding: $gutter / 2;
            }
        }
    }
    @include xl {
        @for $i from 1 through $cols {
            .col-xl-#{$i} {
                width: calc(100% / $cols) * $i;
                //padding: $gutter / 2;
            }
        }
    }
}
// .row {
//     display: flex;
//     flex-wrap: wrap;
// }
// @media (max-width: 576px) {
//     .row .col-xs-1 {
//         width: 8.3333333333%;
//     }
//     .row .col-xs-2 {
//         width: 16.6666666667%;
//     }
//     .row .col-xs-3 {
//         width: 25%;
//     }
//     .row .col-xs-4 {
//         width: 33.3333333333%;
//     }
//     .row .col-xs-5 {
//         width: 41.6666666667%;
//     }
//     .row .col-xs-6 {
//         width: 50%;
//     }
//     .row .col-xs-7 {
//         width: 58.3333333333%;
//     }
//     .row .col-xs-8 {
//         width: 66.6666666667%;
//     }
//     .row .col-xs-9 {
//         width: 75%;
//     }
//     .row .col-xs-10 {
//         width: 83.3333333333%;
//     }
//     .row .col-xs-11 {
//         width: 91.6666666667%;
//     }
//     .row .col-xs-12 {
//         width: 100%;
//     }
// }
